/* Provide sufficient contrast against white background */

* {
  border: 1px dashed green;
}

.body {
  background-color: #f1ede1;
  height: 100%;
}

a {
  color: black;
}

.randomizePage {
  display: grid;
  grid-template-rows: 2rem 7rem 5rem 5rem 5rem 5rem 5rem 5rem;
  grid-template-columns: 20% 60% 20%;
}

main {
  grid-row-start: 2;
  grid-column-start: 2;
}

nav {
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.05);
}

.fa-home {
  padding-right: 0.5rem;
}

.fa-mug-hot {
  padding-right: 0.5rem;
}

.navBar {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-weight: lighter;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0;
  font-size: 15px;
}
.hero {
  align-items: center;
  text-align: center;
}

.logo {
  margin-top: 1rem;
  width: 14rem;
  height: auto;
}
button {
  // background-color: #373737;
  background-color: rgb(255, 255, 253);
  font-size: 11px;
  border: solid 1px;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.randomizer {
  margin-top: 1rem;
  margin-left: 21rem;
  font-size: 10px;
}

.teaBox {
  margin-top: 1rem;
  border: solid 2px rgb(173, 173, 173);
  font-family: Times, 'Times New Roman', serif;
}

.teaHeader {
  border-bottom: solid 2px rgb(173, 173, 173);
  display: flex;
}

.teaFamilyLabel {
  border-right: solid 2px rgb(173, 173, 173);
  background-color: #373737;
  color: #fff;
  font-size: 30px;
  width: 3rem;
  text-align: center;
}

.teaFamilyColor {
  border-right: solid 2px rgb(173, 173, 173);
  background-color: dimgrey;
  width: 1rem;
}

.teaNameLabel {
  background-color: rgb(255, 255, 253);
  width: 13rem;
  text-align: center;
  padding-top: 0.6rem;
  font-size: 18px;
}

// .teaImg {
//   width: 15.7rem;
//   height: 13rem;
// }

.tea-image {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.teaImage {
  width: 15.2rem;
  height: 13rem;
  background-image: url(/components/images/FloridaOrangeBlossom.jpg);
}

.selectorSection {
  display: flex;
  justify-content: space-evenly;
}

.selectorLabelSection {
  display: flex;
  justify-content: space-around;
}

.selectorLabel {
  font-size: 11px;
}
select {
  width: 4rem;
  height: 1rem;
  font-size: 10px;
}

.specialTeaRandomizer {
  margin-top: 1rem;
  border: solid 2px rgb(173, 173, 173);
  background-color: rgb(235, 226, 201);
  padding-bottom: 1rem;
}

.specialRandomizer {
  text-align: center;
  margin-left: 4.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 10px;
}

.pageTitle {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

@media (max-width: 426px) {
  * {
    border: 1px dashed pink;
  }

  .body {
    background-color: #f1ede1;
    height: 100%;
  }

  .hero {
    grid-row-start: 2;
    grid-column-start: 1;
  }

  .logo {
    margin-top: 1rem;
    width: 13rem;
    height: auto;
  }

  .randomizer {
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 1rem;
    margin-left: 6rem;
  }
}

.black {
}

.green {
}
.oolong {
}
